.logo_wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;

  @media (max-width: 767px) {
    gap: 6.5px;
    align-items: center;
  }
}

.logo__icon {
  height: 200px;
  width: 200px;
}
